.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;

}

.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.welcome {
  text-align: center;
}
.logo {
  width: 50px;
  height: 50px;
}

@media (max-width: 1220px) {
  .grid {
    flex-direction: column; 
    align-items: center;   
    margin-left: 0;          
  }
}

@media (max-width: 600px) {
  .grid {
    gap: 20px;
  }
}